/*Style for multilanguage fields*/

.multilanguage-fieldset > .ssb-glossary.legend-glossary > .glossary-button{
    padding: 0 0.3rem;
    background-image: none;
}

.multilanguage-fieldset:focus{
    border: 1px solid #00824d;
    outline: 1px solid #00824d;
    outline-offset: 0;
}

.multilanguage-fieldset:hover{
    border: 1px solid #00824d;
    outline: 1px solid #00824d;
    outline-offset: 0;
}
.multilanguage-legend{
    width: fit-content;
    font-size: 1rem;
}

.ssb-glossary.legend-glossary{
    position: absolute;
    z-index: 10;
    top: -20px;
}

.legend-glossary{
    background-color: white;
    padding-top: 0;
    margin: 0.3rem;
}
.ssb-input.multilanguage-input-component{
    max-width: 450px;
    width: 100%;
    max-width: unset;
}

.multilanguage-fieldset > .ssb-glossary.legend-glossary > .glossary-popup {
    margin-left: 20px;
    left: unset;
    top: unset;
    bottom: 5px;
}

.multilanguage-fieldset > .ssb-glossary.legend-glossary > .glossary-popup::after {
    left: -10px;
    margin-left: -10px;
    top: unset;
    bottom: 5px;
    transform: rotateX(-90deg);
    -webkit-transform: rotate(-90deg);
}

.ssb-glossary.legend-glossary > .glossary-popup .content-box > .glossary-closing{
    margin-top: 1.8rem;
}


.multilanguage-fieldset{
    border: 1px solid #274247;
    outline: #274247;
    padding: 1rem;
    /*max-width: 500px;*/
    width: 100%;
    position: relative;
    margin: 1.5rem 1rem 0 0;
    /*max-width: unset;*/
    /* margin-right: 1rem;*/
}
